* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background: url("../Images/nature9.jpg") no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-container {
    width: 350px;
    padding: 10px;
    background-color:  rgb(204, 204, 204);
    border-radius: 13px;
    box-shadow: 0 0 3px;
    margin-bottom: 10px;
    display: flex;
}

input {
    flex: 5;
    margin-right: 7px;
    border-radius: 7px;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: rgb(221, 221, 221);
    outline: none;
    color: black;
}

#add-task {
    flex: 1;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: azure;
    color: blue;
    font-weight: bolder;
    border: 2px solid blue;
    transition: 0.1s;
}

#add-task:hover {
    background-color: skyblue;
    color: #fff;
}

.task {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 30px;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.2rem;
    margin: 7px;
}

.task button {
    flex: 1;
    border-radius: 7px;
    background-color: #fff;
    cursor: pointer;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.2rem;
}

.task .checkTask:hover {
    background-color: orange;
    color: #fff;
}

.task .deleteTask {
    color: red;
    border: 2px solid red;
    font-size: 1.2rem;
}

.task .deleteTask:hover {
    background-color: red;
    color: #fff;
}